/* Add your CSS styles here */


/* Basic Styling */
body {
  background-color: #fff;
  color: #393939;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  }
  
  header {
    color: #fff;
    background-color: #333;
    padding: 10px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .logo img {
    width: 100px;
    margin-left: 10px;
  }
  
  .nav-links {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    display: inline;
    margin-right: 1rem;
    font-size: 1rem;
    text-transform:uppercase;    
  }
  
  .nav-links li a {
    color:#fff;
    text-decoration: none;
    background-color: #ff3838;
    padding: 3px;
    border-radius: 10%;
    margin-right: 2px;
  }
  
  .cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 2px;
    background-color: #fff;
    color: #ff3838;
    text-decoration: none;    
    border-radius: 5px;
  }

  /* Media queries for responsive screen layout */
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }

  .header {
    padding: 10px;
  }

  .container {
    padding: 10px;
  }

  .nav-links {
    display: block;
  }
  
  .cta {
    margin-top: 0;
  }
}  
  .hero {    
    text-align: center;
    padding: 3rem;
  }
  
  .about {    
    text-align: center;
    padding: 3rem;
  }
  
  .services {
    
    text-align: center;
    padding: 3rem;
  }
  
  .services h3 {
    margin-top: 1rem;
  }
  
  .services p {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .portfolio {
    
    text-align: center;
    padding: 3rem;
  }
  
  .portfolio img {
    width: 100%;
    max-width: 300px;
  }
  
  .testimonials {
    
    text-align: center;
    padding: 3rem;
  }
  
  .testimonial p {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact {
    background-color: #333;
   
    text-align: center;
    padding: 3rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  form input,
  form textarea,
  form button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
  }
  
  form button {
    color: #ff3838;
    cursor: pointer;
  }
  
  .contact-details p {
    margin-bottom: 0.5rem;
  }
  
  footer {    
    text-align: center;
    padding: 1rem;
  }
  